<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión - CineCalidad</title>
    <link rel="stylesheet" href="../css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <header>
      <div class="logo-container">
        <h1><i class="fas fa-film"></i> CineCalidad</h1>
      </div>
      <nav>
        <ul>
          <li>
            <a href="/"><i class="fas fa-home"></i> Inicio</a>
          </li>
          <li>
            <a href="/salas"><i class="fas fa-door-open"></i> Salas</a>
          </li>
          <li>
            <a href="/nosotros"><i class="fas fa-users"></i> Nosotros</a>
          </li>
          <li>
            <a href="/contacto"><i class="fas fa-envelope"></i> Contacto</a>
          </li>
          <li>
            <a href="/registro"><i class="fas fa-user-plus"></i> Registro</a>
          </li>
          <li>
            <a href="/login"
              ><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h2>Iniciar Sesión</h2>
      <form id="loginForm">
        <label for="loginUsername">Usuario:</label>
        <input
          type="text"
          id="loginUsername"
          name="loginUsername"
          required
          placeholder="Nombre de usuario"
        />

        <label for="loginPassword">Contraseña:</label>
        <input
          type="password"
          id="loginPassword"
          name="loginPassword"
          required
          placeholder="Contraseña"
        />

        <button type="submit">Iniciar Sesión</button>
      </form>
    </main>

    <footer>
      <p>&copy; <b>2024 CineCalidad | Todos los derechos reservados</b></p>
    </footer>

    <script src="../js/login.js"></script>
  </body>
</html>
